<div style="margin-top: 32px;">
    <h2 style="margin-bottom: 24px;">Danh sách khoá học</h2>
  <div class="row">
      {{#each courses}}
        <div class="col-sm-6 col-lg-3">
            <div class="card" style="overflow: hidden; border-radius: 8px; margin-bottom: 12px;">
              <a href="/course/{{slug}}">
                <img style="height: 200px; width: 100%; object-fit: cover;" src="{{image}}" alt="{{name}}" />
              </a>
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="#" class="btn btn-primary">Xem khoá học</a>
              </div>
            </div>
        </div>
      {{/each}}
  </div>
</div>