<form class="container-form" method="POST" action="/course/handle-form-actions">
  <div
    style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 32px; flex-wrap: wrap; gap: 12px;"
  >
    <h2>Khoá học của tôi</h2>
    {{#if courses}}
      <div style="display: flex; gap: 12px;">
        <select
          style="border-radius: 4px;"
          id="checkbox-select-all-option"
          name="action"
          required
        >
          <option value="">--Chọn tác vụ--</option>
          <option value="delete">Xoá</option>
        </select>
        <button class="btn-submit btn btn-primary" disabled>Thực hiện</button>
      </div>
    {{/if}}
    <a href="/me/trash/course" class="btn btn-primary">
        <i class="fa-regular fa-trash-can"></i>
        Thùng rác ({{countCourseDeleted}})
    </a>
  </div>
  {{#if courses}}
    <table class="table table-responsive-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkAllCourse"
              />
            </div>
          </th>
          <th scope="col" style="white-space: nowrap;">STT</th>
          <th scope="col" style="white-space: nowrap;">Ảnh</th>
          <th scope="col" style="white-space: nowrap;">Tên khoá học</th>
          <th scope="col" style="white-space: nowrap;">Số lượng video</th>
          <th scope="col" style="white-space: nowrap;">Mô tả</th>
          <th scope="col" style="white-space: nowrap;">Trình độ</th>
          <th scope="col" style="white-space: nowrap;" colspan="3">Thời gian</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input checkbox"
                  type="checkbox"
                  value="{{_id}}"
                  name="courseIds[]"
                />
              </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>
              <a href="/course/{{slug}}">
                <img
                  style="width: 120px; height: 80px; border-radius: 8px; overflow: hidden;"
                  src="{{image}}"
                  alt="{{name}}"
                />
              </a>
            </td>
            <td>{{name}}</td>
            <td>{{videos.length}}</td>
            <td>{{description}}</td>
            <td>{{level}}</td>
            <td>{{formatDate updatedAt}}</td>
            <td
              style="display: flex; flex-wrap: wrap; gap: 8px; min-width: 120px"
            >
              <a
                style="width: 100%;"
                href="/course/{{_id}}/edit"
                class="btn btn-primary"
              >
                Chỉnh sửa
              </a>
              <a
                style="width: 100%;"
                href=""
                data-id="{{_id}}"
                class="btn btn-danger btn-delete-course"
              >Xoá</a>
              <a
                style="width: 100%;"
                href="/course/createVideo"
                class="btn btn-success"
              >Thêm video</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div
      style="display: flex; align-items: center; justify-content: space-between;"
    >
      <h4>Không có khoá học nào tại đây!</h4>
      <a href="/course/create" class="btn btn-primary">Thêm ngay</a>
    </div>
  {{/if}}
</form>

<form method="POST" class="form-delete-course"></form>

<script>
    const btnDeleteCourse = document.querySelectorAll('.btn-delete-course')
    const formDeleteCourse = document.querySelector('.form-delete-course')
    const checkboxCourse = document.querySelectorAll('.checkbox')
    const checkboxAllCourse = document.querySelector('#checkAllCourse')
    const btnSubmitForm = document.querySelector('.btn-submit')
    const containerForm = document.querySelector('.container-form')
    const checkboxSelectAllOption = 
        document.querySelector('#checkbox-select-all-option')

    btnDeleteCourse.forEach(btn => {
        btn.addEventListener('click', (e) => {
            const isConfirm = confirm('Bạn chắn chắn muốn xoá khoá học này?')
            e.preventDefault()
            if (isConfirm) {
                formDeleteCourse.action = 
                    `/course/${ e.target.dataset.id}?_method=DELETE`
                formDeleteCourse.submit();
            }
        })
    })

    checkboxAllCourse.addEventListener('click', () => {
        handleAllCheckbox(checkboxAllCourse.checked)

        btnSubmitForm.disabled = !checkboxAllCourse.checked
    })

    checkboxCourse.forEach(checkbox => {
        checkbox.addEventListener('click', () => {
            checkboxAllCourse.checked = 
                document.querySelectorAll('.checkbox:checked').length 
                    === document.querySelectorAll('.checkbox').length
            
            btnSubmitForm.disabled = 
                !document.querySelectorAll('.checkbox:checked').length > 0
        })
    })

    btnSubmitForm.addEventListener('click', (e) => {
        if (checkboxSelectAllOption.value === 'delete') {
            const isConfirm = 
                confirm('Tất cả khoá học được chọn sẽ bị xoá?')
            if (!isConfirm) {
                e.preventDefault()
            }
        }
    })

    function handleAllCheckbox(isCheck) {
        checkboxCourse.forEach(checkbox => {
            checkbox.checked = isCheck
        })
    }

</script>