<form class="container-form" method="POST" action="/course/handle-form-actions">
  <div
    style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 32px;"
  >
    <h2>Thùng rác của tôi</h2>
    {{#if courses}}
        <div style="display: flex; gap: 12px;">
        <select id="checkbox-select-all-option" name="action" required>
            <option value="">--Chọn tác vụ--</option>
            <option value="restore">Khôi phục</option>
            <option value="forceDelete">Xoá vĩnh viễn</option>
        </select>
        <button class="btn-submit btn btn-primary" disabled>Thực hiện</button>
        </div>
    {{/if}}
    <a href="/me/stored/course" class="btn btn-primary">Khoá học</a>
  </div>
  {{#if courses}}
    <table class="table">
      <thead>
        <tr>
         <th scope="col">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkAllCourse"
              />
            </div>
          </th>
          <th scope="col" style="white-space: nowrap;">STT</th>
          <th scope="col" style="white-space: nowrap;">Ảnh</th>
          <th scope="col" style="white-space: nowrap;">Tên khoá học</th>
          <th scope="col" style="white-space: nowrap;">Mô tả</th>
          <th scope="col" style="white-space: nowrap;" colspan="3">Thời gian</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>
                <div class="form-check">
                    <input
                        class="form-check-input checkbox"
                        type="checkbox"
                        value="{{_id}}"
                        name="courseIds[]"
                    />
                </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>
              <img
                style="width: 120px; height: 80px; border-radius: 8px; overflow: hidden;"
                src="{{image}}"
                alt="{{name}}"
              />
            </td>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{formatDate updatedAt}}</td>
            <td style="text-align: right; white-space: nowrap;">
              <a
                href=""
                data-id="{{_id}}"
                class="btn btn-primary btn-restore-course"
              >
                Khôi phục
              </a>
              <a
                href=""
                data-id="{{_id}}"
                class="btn btn-danger btn-delete-course"
              >Xoá vĩnh viễn</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h4 style="text-align: center;">Thùng rác đang trống!</h4>
  {{/if}}
</form>

<form method="POST" class="form-course"></form>

<script>
    const btnRestoreCourse = document.querySelectorAll('.btn-restore-course')
    const btnDeleteCourse = document.querySelectorAll('.btn-delete-course')
    const formCourse = document.querySelector('.form-course')
    const checkboxCourse = document.querySelectorAll('.checkbox')
    const checkboxAllCourse = document.querySelector('#checkAllCourse')
    const btnSubmitForm = document.querySelector('.btn-submit')
    const containerForm = document.querySelector('.container-form')
    const checkboxSelectAllOption = 
        document.querySelector('#checkbox-select-all-option')

    handleFormSubmit(btnRestoreCourse, 'restore')
    handleFormSubmit(btnDeleteCourse, 'forceDelete')

        checkboxAllCourse.addEventListener('click', () => {
        handleAllCheckbox(checkboxAllCourse.checked)

        btnSubmitForm.disabled = !checkboxAllCourse.checked
    })

    checkboxCourse.forEach(checkbox => {
        checkbox.addEventListener('click', () => {
            checkboxAllCourse.checked = 
                document.querySelectorAll('.checkbox:checked').length 
                    === document.querySelectorAll('.checkbox').length
            
            btnSubmitForm.disabled = 
                !document.querySelectorAll('.checkbox:checked').length > 0
        })
    })

    btnSubmitForm.addEventListener('click', (e) => {
        if (checkboxSelectAllOption.value === 'forceDelete') {
            const isConfirm = 
                confirm('Tất cả khoá học được chọn sẽ bị xoá vĩnh viễn?')
            if (!isConfirm) {
                e.preventDefault()
            }
        }
    })

    function handleAllCheckbox(isCheck) {
        checkboxCourse.forEach(checkbox => {
            checkbox.checked = isCheck
        })
    }

    function handleFormSubmit(elements, action) {
        elements.forEach(element => {
            element.addEventListener('click', (e) => {
                e.preventDefault()
                
                if (action === 'restore') {
                   formCourse.action = 
                        `/course/${e.target.dataset.id}/restore?_method=PATCH`
                }

                if (action === 'forceDelete') {
                    const isConfirm = 
                        confirm('Khoá học này sẽ bị xoá vĩnh viễn?')
                    if (!isConfirm) {
                        return
                    }
                    formCourse.action = 
                        `/course/${e.target.dataset.id}/force?_method=DELETE`
                }

                formCourse.submit()
            })
        })
    }
</script>
